/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
* {
  box-sizing: border-box;
}


#map {
  height: 600px;
  width: 100%;
  
}

:root {
  --green-color: #00F37F;
  --black-color: #4D4D4D;
  --yellow-color: #FFE95A;
  --red-color: #FF5A6E;
}

html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  min-height: 75rem;
  padding-top: 3.5rem;
}

.red-bg {
  background-color: var(--red-color);
}

.yellow-bg{
  background-color: var(--yellow-color);
}

.card-img-top {
  width: 15rem;
}

.bigger-icon {
  width: 4rem;
}

.circle-shape{
  border-radius: 50%;

}

.two-cards-size{
  padding: 2rem;
  margin: 4vw;
}

.three-cards-size{
  padding: 0.5rem;
  margin: 4vw;
}



.shadow-yellow {
    box-shadow: 0px 25px 30px 0px rgba(156,136,8,0.3);
    transition: 0.3s;   
}

.shadow-yellow:hover {
    box-shadow: 0px 3px 8px 0px rgba(156,136,8,0.3);
}

.shadow-red {
    box-shadow: 0px 25px 30px 0px rgba(255,90,110,0.3);
    transition: 0.3s;   
}

.shadow-red:hover {
    box-shadow: 0px 3px 8px 0px rgba(255,90,110,0.3);
}


#floating-panel {
  position: relative;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  padding-left: 10px;
}

#warnings-panel {
  width: 100%;
  height: 10%;
  text-align: center;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;

    -webkit-column-rule: 4px double var(--red-color); /* Chrome, Safari, Opera */
    -moz-column-rule: 4px double var(--red-color); /* Firefox */
    column-rule: 4px double var(--red-color);
}

.modal .modal-dialog .modal-content {
  border:0 !important;
  background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none !important;

}

.social {
  width: 40px;
  opacity: 0.8;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social:hover {
  opacity: 1;
}

.social:active {
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

p.first-line::first-line { 
    background-color: var(--yellow-color);
    font-size: 1.2rem;
}

.fireworks{
    position: fixed;
    z-index: 2000;
    pointer-events: none;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
}

.svg-divider{
  width: 100% \9;
}


/* toggle styling */

.navbar-toggler {
  border: none;
}

#nav-icon4 {
  width: 30px;
  height: 20px;
  position: relative;
/*  margin: 50px auto;
*/  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--red-color);
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}