/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */



* {
  box-sizing: border-box;
}

#map {
  height: 600px;
  width: 100%;
  
}

:root {
  --green-color: #8AC926; /*rgb(138,201,38),00F37F*/
  --black-color: #2D1E2F; /*rgb(45,30,47),4D4D4D*/
  --yellow-color: #FFCA3A; /*rgb(255,202,58),FFE95A*/
  --red-color: #FF595E; /*rgb(255,89,94), FF5A6E*/
  --purple-color: #6A4C93; /*rgb(106,76,147)*/
  --blue-color: rgb(53,144,243); /*#3590F3, rgb(53,144,243)*/
}

html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.svg-close{
  width: 2rem;
  margin: 1rem;
}

.close{
opacity: 1;
}

body{
  min-height: 75rem;
  padding-top: 3.5rem;
}

.hero-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8), 
      rgba(255, 255, 255, 0.8)
    ), url("img/vilaalpha-header-5.jpg");
  background-repeat: no-repeat;
  background-position: bottom fixed;
  background-size: cover;

  /*background-image: url("img/vilaalpha-header-1.png"), 
              url("img/vilaalpha-header-4.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left center fixed, bottom fixed;
  background-size: 30vw, cover;*/
}

.hero-text {
   width: 50%;
}


.red-bg {
  background-color: var(--red-color);
}

.yellow-bg{
  background-color: var(--yellow-color);
}

.card-img-top {
  width: 15rem;
}

.bigger-icon {
  width: 4rem;
}

.circle-shape{
  border-radius: 50%;

}

.logo-nav{
  display: block;
  height: 50px;
}

.two-cards-size{
  padding: 2rem;
  margin: 4vw;
}

.three-cards-size{
  padding: 0.5rem;
  margin: 4vw;
}



.shadow-yellow {
    box-shadow: 0px 25px 30px 0px rgba(156,136,8,0.3);
    transition: 0.3s;   
}

.shadow-yellow:hover {
    box-shadow: 0px 3px 8px 0px rgba(156,136,8,0.3);
}

.shadow-red {
    box-shadow: 0px 25px 30px 0px rgba(255,90,110,0.3);
    transition: 0.3s;   
}

.shadow-red:hover {
    box-shadow: 0px 3px 8px 0px rgba(255,90,110,0.3);
}

.shadow-green {
    box-shadow: 0px 5px 30px 0px rgba(var(--blue-color),0.3);
    transition: 0.3s;   
}

.shadow-green:hover {
    box-shadow: 0px 3px 8px 0px rgba(0,243,127,0.3);
}


/* SVG Divider */
.yellow-wave path {
  fill: var(--yellow-color);
  stroke: var(--yellow-color);
}

.red-wave path {
  fill: var(--red-color);
  stroke: var(--red-color);
}

.wave::before,
.wave::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.wave {
  overflow: hidden;
  width:100%;
  margin:0px;

}



#floating-panel {
  position: relative;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  padding-left: 10px;
}

#warnings-panel {
  width: 100%;
  height: 10%;
  text-align: center;
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;

    -webkit-column-rule: 4px double var(--red-color); /* Chrome, Safari, Opera */
    -moz-column-rule: 4px double var(--red-color); /* Firefox */
    column-rule: 4px double var(--red-color);
}

/*.modal .modal-dialog .modal-content {
  border:0 !important;
  background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none !important;

}*/

.modal .modal-dialog .modal-content .modal-body {
  border:0 !important;
  background-color: var(--red-color);
  border: none;
  padding: 0px;
    -webkit-border-radius: 0.3rem !important;
    -moz-border-radius: 0.3rem !important;
    border-radius: 0.3rem !important; 

}




.social {
  width: 40px;
  opacity: 0.8;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social:hover {
  opacity: 1;
}

.social:active {
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

p.first-line::first-line { 
    background-color: var(--yellow-color);
    font-size: 1.2rem;
}

.fireworks{
    position: fixed;
    z-index: 2000;
    pointer-events: none;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
}

.svg-divider{
  width: 100% \9;
}


/* toggle styling */

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: var(--red-color);
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

.margintop-100{
  margin-top: -100px;
}

.marginbottom-100{
  margin-bottom: -100px;
}

.zindex1{
  z-index: -100;
}

/*.btn {
    padding: 14px 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}*/
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: var(--blue-color);
    color: white;
    border: 0 none;
    padding: 14px 36px;
    font-size: 1.2rem;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: var(--blue-color);
    filter: brightness(0.8);
}
 
.btn-primary:active, .btn-primary.active {
    background: var(--blue-color);
    box-shadow: none;
}

.thumb{
  position: relative;
/*  width: 35px;
*/  height: 55px;
  overflow: hidden;
/*  margin: .2rem;
*/}

.thumb img {
  object-fit: cover;
}

.rotate180 {
  transform: rotate(180deg);
}